* {
    font-family: 'calibri', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
}

.landing-section {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.landing-content {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.form-container {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ecommerce-header {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.ecommerce-header h1 {
    font-size: 3rem;
}

.ecommerce-header {
    background-image: url(./images/bg.jpg);
    color: white;
}

.container h1 {
    font-family: fantasy;
}

.cartpg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ecommerce-header {
    background-color: #f8f9fa;
}

.ecommerce-header {
    background-color: #f8f9fa;
}

.logo-container {
    flex-shrink: 0;
    max-width: 150px;
    margin-right: 1.5rem;
}

.logo-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.text-container {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-bottom: 1rem;
        max-width: 200px;
    }
}

.navbar {
    background-image: url('images/bgh3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #f8d7da;
}
